<div class="tk-adelle">
<% Competition.all.reverse.each do |competition| %>
  <p>
  <h1><%= link_to "#{competition.name}  &raquo;".html_safe, competition_path(competition) %></h1>
  <strong>When:</strong> <%= competition.when %><br/>
  <strong>where:</strong> <%= competition.where %><br/>
  <p><%= competition.description %></p>
  </p>
<% end %>
</div>
