<!DOCTYPE html>
<html>
<head>
  <title>Wodleader</title>
  <script type="text/javascript" src="http://use.typekit.com/ufw0ggk.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= yield :page_specific_head_tags %>
  <style type="text/css">
    .blue {color: #004358;}
    .green {color: #1F8A70;}
    .yellow {color: #FFE11A;}
    .greenish {color: #99FF66;}
    .white {color: #FFF;}
    body { text-align: center; margin: 5em 0 0 0; vertical-align: middle; background-color:#004358; color: #FFE11A; font-family: adelle,serif; font-style: normal; font-weight: 100; font-size: 18px;} 
    .light {font-family: adelle,serif; font-style: normal; font-weight: 100;}
    pre {font-family: adelle,serif; font-style: normal; font-weight: 100;}
    a {text-decoration: none; color: #fff;}
    strong {color: #99FF66;}
    .content { width: 600px; text-align: left; margin: 0 auto; }
    .logo {font-size:32px;}
    h1 {font-size: 48px; margin-bottom:10px; }
    h2 {color: #FFF; font-size:32px;}
    h3 {color: #99FF66; font-size:24px;}
    li {list-style-type: none; margin-left:20px; font-family: adelle,serif; font-style: normal; font-weight: 100; font-size:24px; margin-top: 10px; margin-bottom:10px;}
    .athlete { margin-top: 10px; margin-bottom:20px; margin-left:20px; font-family: adelle,serif; }
    .rank { font-style: normal; font-weight: 100; font-size:36px; margin-right: 20px; }
    .athlete-info { font-style: normal; font-weight: 100; font-size:28px; }
    .pts { margin-left: 63px; font-size: 28px;}
    .small { font-size: 14px;}
    .info { font-size: 18px;}
    .tightbottom { margin-bottom: 0px;}
    
    
  	a.button,
  	button,
  	input[type="submit"],
  	input[type="reset"],
  	input[type="button"] {
  		background: #eee; /* Old browsers */
  		background: #eee -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
  		background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
  		background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
  		background: #eee -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
  		background: #eee -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
  		background: #eee linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
  	  border: 1px solid #aaa;
  	  border-top: 1px solid #ccc;
  	  border-left: 1px solid #ccc;
  	  padding: 4px 12px;
  	  -moz-border-radius: 3px;
  	  -webkit-border-radius: 3px;
  	  border-radius: 3px;
  	  color: #444;
  	  display: inline-block;
  	  text-decoration: none;
  	  text-shadow: 0 1px rgba(255, 255, 255, .75);
  	  cursor: pointer;
  	  margin-bottom: 20px;
  	  line-height: 21px;
  	}

  	a.button:hover,
  	button:hover,
  	input[type="submit"]:hover,
  	input[type="reset"]:hover,
  	input[type="button"]:hover {
  		color: #222;
  		background: #ddd; /* Old browsers */
  		background: #ddd -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%); /* FF3.6+ */
  		background: #ddd -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); /* Chrome,Safari4+ */
  		background: #ddd -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */
  		background: #ddd -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Opera11.10+ */
  		background: #ddd -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */
  		background: #ddd linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */
  	  border: 1px solid #888;
  	  border-top: 1px solid #aaa;
  	  border-left: 1px solid #aaa; }

  	a.button:active,
  	button:active,
  	input[type="submit"]:active,
  	input[type="reset"]:active,
  	input[type="button"]:active {
  		border: 1px solid #666;
  		background: #ccc; /* Old browsers */
  		background: #ccc -moz-linear-gradient(top, rgba(255,255,255,.35) 0%, rgba(10,10,10,.4) 100%); /* FF3.6+ */
  		background: #ccc -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.35)), color-stop(100%,rgba(10,10,10,.4))); /* Chrome,Safari4+ */
  		background: #ccc -webkit-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Chrome10+,Safari5.1+ */
  		background: #ccc -o-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Opera11.10+ */
  		background: #ccc -ms-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* IE10+ */
  		background: #ccc linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* W3C */ }

  	.button.full-width,
  	button.full-width,
  	input[type="submit"].full-width,
  	input[type="reset"].full-width,
  	input[type="button"].full-width {
  		width: 100%;
  		padding-left: 0 !important;
  		padding-right: 0 !important;
  		text-align: center; }
    
    .refresh {
      line-height: 10px !important;
      padding: 0px !important;
      margin-bottom: 0px !important;
    }
    .updated {
      margin-top: 5px;
      margin-left: 5px;
      position: absolute;
    }
    
    .blocky {
      background: #005858;
      -moz-border-radius: 5px;
  	  -webkit-border-radius: 5px;
  	  border-radius: 5px;
  	  padding: 10px;
    }
  </style>
</head>
<body class="content">
<div><span class="logo"><a href="/">Wodleader</a></span><br/><span class="light small">A multi-event crossfit scoring app by <%= link_to " Brian Doll", "http://emphaticsolutions.com"%>.<br/>Mobile friendly. Rock it.</span><hr/></div>
<%= yield %>

</body>
</html>
