<!DOCTYPE html>
<html>
<head>
  <title>Wodleader</title>
  <script type="text/javascript" src="http://use.typekit.com/ufw0ggk.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
